In [1]:
2+9

11

In [2]:
8/2

4.0

In [3]:
8//2

4

In [4]:
9//2

4

In [5]:
9%2

1

In [6]:
3**2

9

In [7]:
3>2

True

In [8]:
5<9

True

In [9]:
7<=7

True

In [10]:
4!=6

True

In [23]:
l = int (67)
l

67

In [24]:
l='fd'
l

'fd'

In [26]:
l = [1,'sans',0.897]
print(l)

[1, 'sans', 0.897]

In [27]:
l[1]= 6
print(l)

[1, 6, 0.897]

In [30]:
t= (1,'sangam',0.7)

In [31]:
print(t
    )

(1, 'sangam', 0.7)

In [32]:
t[2]='sangam'

TypeError: 'tuple' object does not support item assignment

In [33]:
print(t
    )

(1, 'sangam', 0.7)

In [41]:
D= {1166:'sajs'}
D

{1166: 'sajs'}

In [42]:
D[1166]

'sajs'

In [49]:
D = {'sangam':
              {"id":'s.s',
               "project":"LBG"}}
D

{'sangam': {'id': 's.s', 'project': 'LBG'}}

In [51]:
D['sangam']['project']

'LBG'

In [52]:
a = input("enter name")

enter namesans

In [53]:
a

'sans'

In [54]:
a = input("enter age")

enter age78

In [55]:
a

'78'

In [56]:
print(int(a))

78

In [57]:
a = input("enter age")

enter age78

In [70]:
a

78

In [71]:
b= input ("enter id")

enter id8.7

In [73]:
print(float(b))

8.7